* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16% 1 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}
.card {
  background-color: lightsalmon;
  border: 1px solid black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  box-shadow: 5px 5px 3px black;
  transition: all 100ms ease-in;
}
.card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 10px;
}
.card-content {
  color: rgb(97, 34, 15);
}
.card.card-horizontal {
  display: flex;
}
.card.card-horizontal .card-image {
  width: 30%;
}

.topbar {
  background-color: purple;
  padding: 20px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

  display: flex;
}
.nav {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
}
.nav .nav-item .nav-link {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;

  display: block;
}
.nav .nav-item .nav-link:hover {
  color: rgb(182, 182, 182);
}
.nav .nav-link.active {
  color: purple;
  background-color: white;
}

/* dark */
.topbar.topbar-dark {
  background-color: black;
}
.nav.nav-dark .nav-link{
  color: white;
}
.nav.nav-dark .nav-link:hover{
  color: rgb(182, 182, 182);
}
.nav.nav-dark .nav-link.active{
  color: black;
  background-color: white;
}

/* beeline */
.topbar.topbar-beeline {
  background-color: rgb(255, 196, 0);
}
.nav.nav-beeline .nav-link{
  color: black;
}
.nav.nav.nav-beeline .nav-link:hover{
  color: rgb(85, 85, 85);
}
.nav.nav-beeline .nav-link.active{
  color: rgb(255, 196, 0);
  background-color: black;
} 
.nav.nav-beeline .nav-link.active:hover{
  color: rgb(209, 160, 0);
}


/* bubbles */
.topbar.topbar-bubbles {
  background-image: linear-gradient(45deg, aqua, rgb(0, 184, 184));
}
.nav.nav-bubbles .nav-link{
  color: black;
  border-radius: 100px;
  box-shadow: inset 0 -5px 8px 0 rgba(0, 0, 0, 0.589),
  inset 0 5px 8px rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
}
.nav.nav.nav.nav-bubbles .nav-link:hover{
  color: rgb(68, 68, 68);
  background-color: white;
}
.nav.nav-beeline .nav-link.active{
  color: rgb(255, 196, 0);
  background-color: black;
} 
.nav.nav-beeline .nav-link.active:hover{
  color: rgb(209, 160, 0);
}